* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  color: #000;
  font-family: "Noto Sans", sans-serif;
}

.mgt-11 {
  margin-top: 11rem;
}

.myNav {
  padding: 2rem;
  font-size: 1.4rem;
}

.img-box {
  width: 100%;
  height: 18rem;
  object-fit: cover;
}

.img {
  height: 100%;
  width: 100%;
}

.location {
  top: 15%;
}

.preshowTop {
  margin-top: 5rem;
}
@media screen and (max-width: 576px) {
  html {
    font-size: 13px !important;
  }
  .mgt-11 {
    margin-top: 4rem;
  }
  .main-img4 img {
    padding-bottom: 1rem;
  }
  .start-0 {
    display: none;
  }
}
