/* ==============================main-top=============================== */
.disappear {
  display: none !important;
}
.main-top-container {
  display: block;
  width: 100%;
  height: 650px;
  background-color: black;
}

.main-top-title {
  display: block;
  text-align: center;
  position: relative;
  top: 100px;
  padding: 50px;
  margin-bottom: 70px;
}
.main-top-subtitle {
  color: white;
  font-weight: 700;
}
.main-top-maintitle {
  color: white;
  font-weight: 700;
  font-size: 50px;
}

.main-top-logoArea {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding: 50px;
}
/* .main-top-img{
  max-width: 80%;
  height: auto;
  position: relative;
  left: 50%;
  transform: translate(-50%);
} */
.main-top-cardbox {
  width: 200px;
  height: 200px;
  border-radius: 5%;
  margin: 10px;
  text-align: center;
  align-content: center;
  font-size: 30px;
  font-weight: 400;
}
.kakaoStyle {
  background-color: #ffeb00;
}
.tossStyle {
  background-color: #3182f7;
  color: white;
}
.paycoStyle {
  background-color: #fa2829;
  color: white;
  font-weight: bold;
}
.kbStyle {
  background-color: #ffc603;
  font-size: 25px;
  font-weight: 700;
}
.ssStyle {
  background-color: #125ee5;
  color: white;
  font-size: 25px;
  font-weight: 700;
}
.naverStyle {
  background-color: #00af26;
  color: white;
  font-size: 25px;
  font-weight: 800;
}
.font-strong {
  font-weight: bold;
}
/* ==============================main-mid=============================== */
.main-mid-container {
  display: block;
  width: 100%;
  height: 900px;
  padding: 200px;
}

.main-mid-title {
  width: 100%;
  height: auto;
  font-weight: 900;
  font-size: 50px;
  text-align: center;
  padding: 3px;
}
.mid-subtitleStyle {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.01em;
  text-align: center;
  color: #a8a8a8;
  margin-bottom: 100px;
}

.main-mid-imgarea {
  display: flex;
  justify-content: center;
  height: 300px;
}
.mid-imgStyle {
  width: 500px;
}

/* ==============================main-bottom=============================== */
.main-bottom {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  top: 300px;
  padding: 100px;
  margin-bottom: 500px;
}

.main-bottom-title {
  width: 100%;
  height: auto;
  font-weight: 900;
  font-size: 50px;
  text-align: center;
  padding: 3px;
}
.bottom-subtitleStyle {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.01em;
  text-align: center;
  color: #a8a8a8;
  margin-bottom: 100px;
}
.main-bottom-container {
  display: flex;
  justify-content: left;
  width: 100%;
  height: auto;
  margin: auto;
}

/* .bottom-imgbox{
  width: 300px;
  height: 300px;
  background-image: url("https://img.29cm.co.kr/next-edition/2024/04/15/04400911031948a99729f39a1eb8890a_20240415122716.jpg?width=500");
} */
.bottom-imgbox {
  width: 300px;
  height: 300px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
}
.bottom-imgbox:hover {
  filter: brightness(1.5);
}
.bottom-image1 {
  background-image: url("image/event-img13.jpg");
}
.bottom-image2 {
  background-image: url("image/event-img14.jpg");
}
.bottom-image3 {
  background-image: url("image/event-img15.jpg");
}
.bottom-image4 {
  background-image: url("image/event-img16.jpg");
}
.bottom-image5 {
  background-image: url("image/event-img17.jpg");
}
.bottom-image6 {
  background-image: url("image/event-img18.jpg");
}
.bottom-image7 {
  background-image: url("image/event-img19.jpg");
}
.image-box-text {
  text-align: left;
  padding: 1px;
  font-size: 17px;
  font-weight: 600;
  color: whitesmoke;
}
.image-box-subtext {
  float: bottom;
  text-align: left;
  padding: 5px;
  font-size: 12px;
  font-weight: 400;
  color: whitesmoke;
}




@media(max-width: 375px) {
  /* 내비게이션 */
  .navbar-brand img {
    max-width: 80px;
  }

  /* top영역 */
  .main-top-container {
    padding: 50px;
    height: 600px;
  }
  .main-top-title {
    padding: 10px;
    margin-bottom: 30px;
  }
  .main-top-subtitle {
    font-size: 10px;
  }
  .main-top-maintitle {
    font-size: 20px;
  }
  .main-top-logoArea,
  .main-top-cardbox {
    display: none;
  }



  /* mid 영역 */
  .main-mid-container {
    height: 600px;
    padding: 50px;
  }
  .main-mid-title {
    font-size: 30px;
    padding: 3px;
  }
  .mid-subtitleStyle {
    font-size: 10px;
  }
  
  .main-mid-imgarea {
    height: 300px;
  }
  .mid-imgStyle {
    width: 300px;
  }

  /* bottom영역 */
  .main-bottom {
    padding: 30px;
    margin-bottom: 300px;
  }
  .main-bottom-title {
    font-size: 30px;
  }
  .bottom-subtitleStyle {
    font-size: 10px;
  }
  .bottom-imgbox {
    width: 60px;
    height: 60px;
    padding: 3px;
  }
  .image-box-text {
    font-size: 12px;
  }
  .image-box-subtext {
    font-size: 8px;
  }

}